*{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: auto;
}


#pasteBtn{
    border: none;
    border: 1px solid gold;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
}