*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.modal{
    width: 400px;
    height: 240px;
    background-color: rgb(41, 33, 48);
    color: #fff;
    position: fixed;
    left: 500px;
    top: 100px;
    opacity: 0;
    transition: opacity 0.5s;
}

.modal-title,
.modal-footer{
    padding: 10px 0px;
    text-align: center;
}

.modal-body{
    padding: 10px;
}

.close{
    background-color: darkseagreen;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border: 1px solid #fff;
    margin-left: 10px;
}

.open{
    margin-top: 25rem;
    padding: 10px;
    background-color: darkgray;
    font-size: 15px;
    color: #fff;
    border: none;
    border: 1px solid green;
}

.open:hover{
    background-color: cornflowerblue;
}

.modal-open{
    text-align: center;
}